/* Home Mobile Styles */
@media(max-width: 768px) {
  .head-text {
    display: none;
  }

  .title {
    font-size: 3.8em;
  }

  .links {
    flex-direction: column;
  }

  .link {
    margin-top: 30px;
    width: 90%;
    align-self: center;
  }

  .icons {
    justify-content: center;
  }

  .skills {
    margin-top: 40px;
    flex-direction: column;
  }

  .skill {
    width: 90%;
    align-self: center;
    margin-top: 20px;
  }

  .contact-link {
    width: 40%;
  }

  .form-input {
    width: 40%;
  }

  .form-buttons {
    width: 40%;
  }
}

@media(max-height: 750px)
{
  .icons {
    margin-bottom: 10px;
    justify-content: center;
  }

  .logo {
    max-width: 70px;
  }

  .title {
    font-size: 3em;
    letter-spacing: 10px;
  }

  .head-text {
    display: none;
  }
}
