/* Home Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

* {
  margin: 0;
  padding: 0;
}
.filler {
  display: flex;
  justify-content: center;
}
.logo {
  max-width: 100px;
  fill: white;
  z-index: 9;
}

.filter {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(5,5,5,0.8);
}

.head {
  background-image: url("https://cdn.wallpapersafari.com/40/92/HvIEnr.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filler{
  height: 35vh;
}

.head-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-family: 'Montserrat';
  color: white;
  font-size: 5em;
  letter-spacing: 15px;
  text-align: center;
  display:flex;
  justify-content: center;
}

.head-text {
  color: white;
  font-size: 1.4em;
  font-family: 'Open+Sans';
  width: 50%;
  align-self: center;
  text-align: center;
  margin: 50px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-self: center;
  margin: 40px;
}

.link {
  color: white;
  font-size: 1.3em;
  font-family: 'Open+Sans';
  padding: 15px 50px 15px 50px;
  border: solid white;
  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: 2s, .2s;
  transition-delay: 0s, 1s;
  transition-timing-function: ease-in-out;
}

.link:hover {
  background-color: white;
  color: black;
}

.icons {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.social {
  font-size: 2.4em;
  color: white;
  margin: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}

.content-title {
  font-family: 'Montserrat';
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}

.content-content {
  font-family: 'Open+Sans';
  font-size: 1.6em;
  text-align: center;
  margin-top: 20px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
}

.skill {
  display: flex;
  flex-direction: column;
  width: 25%
}

.skill-icon {
  color: #FED766;
  font-size: 3.3em;
  font-weight: bold;
  text-align: center;
}

.skill-title {
  font-family: 'Montserrat';
  font-size: 1.8em;
  font-weight: 800;
  text-align: center;
}

.skill-content {
  text-align: center;
  font-size: 1.3em;
  color: #93a4aa;
  margin-top: 20px;
}

.contact {
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
}

.contact-title {
  margin-top: 100px;
  text-align: center;
  font-size: 2em;
  font-family: 'Montserrat';
}

.contact-link {
  margin-top: 25px;
  color: black;
  text-align: center;
  font-size: 1.5em;
  padding: 15px;
  border: solid #FED766;
  border-radius: 10px;
  text-decoration: none;
  width: 20%;
  align-self: center;
  transition: background-color 1.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.contact-link:hover {
  background-color: #FED766;
}

.contact-link:focus {
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.form-input {
  width: 20%;
  box-sizing: border-box;
  border: none;
  background-color: #EEEEEE;
  border-bottom: 1px solid #93a4aa;
  font-size: 1.5em;
  color: #93a4aa;
  margin-top: 30px;
}

.form-input:focus {
  outline: none;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 20%;
}

.form-submit {
  width: 50%;
  padding: 10px;
  color: white;
  border: none;
  background-color: #5CB85C;
  cursor: pointer;
}

.form-cancel {
  width: 50%;
  padding: 10px;
  background-color: #D9534F;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-end {
  margin-top: 25px;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1.8em;
}

.foot {
  margin-top: 50px;
  margin-bottom: 50px;
}

.foot-content {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Montserrat';
}
